body {
    font-family: "dosis", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 300;
}

.contenedor {
    margin: 0 auto;
}

header {
    position: relative;
    width: 100%;
    height: 95px;
    display: flex;
    background-color: #875EFF;
    justify-content: flex-start;
    align-items: center;

}

.logo {
    position: absolute;
    margin: 60px 22px 0 22px;
}

.logo img {
    width: 412px;
    height: 101px;
    flex-basis: 1;
    flex-shrink: 1;
}

.mainbox {
    margin: 0 auto;
    padding: 10px;

}

h1 {
    font-family: "oswald", Arial, Helvetica, sans-serif;
    font-size: 64px;
    margin: 0 auto;
}

h2 {
    font-family: "oswald", Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 30px 0 10px 0;
}

p {

    font-size: 32px;
    font-weight: 300;

    /* flex-basis: calc(90%/3);
    flex-shrink: 1; */



}

.wrapper {
    display: flex;
    flex-wrap: wrap;   
    gap: 20px;
    width: 100%;
}



.shoes1 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100%/3 - 14px);
}

.shoes2 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100%/3 - 14px);
}

.shoes3 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100%/3 - 14px);
}

.shoes1 img {
    width: 100%;
    
}

.shoes2 img {
    width: 100%;
    
}

.shoes3 img {
      width: 100%;
    
}

